<h1>Welcome, Admin</h1>
<ul>
  <li><a href="/admin/dashboard/allBlogs">All Blogs</a></li>
  <li><a href="/admin/dashboard/addBlog">Add New Blog</a></li>
  <li><a href="/admin/dashboard/allCategories">All Categories</a></li>
  <li><a href="/admin/dashboard/addCategories">add Categories</a></li>

  <li><a href="/logout">Logout</a></li>
</ul>
 